{
	"*.ts": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	],
	"*.cts": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	],
	"*.mts": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	],
	"*.js": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	],
	"*.cjs": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	],
	"*.mjs": [
		"npm exec --yes --package @balena/lint@latest -- balena-lint --fix"
	]
}
